.stat {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 500;
    font-size: 18px;
}

.statLabel {
    flex-basis: 135px;
}

.statValue {
    flex-basis: 40px;
    text-align: center;
}

.statBar {
    border-radius: 15px;
    height: 20px;
}

.fullStatBar {
    background: rgba(220,220,220);
    outline: 1px solid black;
    width: 200px;
}

.coloredStatBar {
    background: blue;
}