.stat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 18px;
}

.statLabel {
    flex-basis: 135px;
    flex-shrink: 0;
}

.statValue {
    flex-basis: 40px;
    flex-shrink: 0;
    text-align: center;
}

.statBar {
    border-radius: 15px;
    height: 20px;
}

.fullStatBar {
    background: rgba(220,220,220);
    outline: 1px solid black;
    flex: 1;
    min-width: 105px;
}

.coloredStatBar {
    transition: width 1s ease-out;
}