.reviewList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@keyframes scan {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}

.scanned {
  position: relative;
  overflow: hidden;
}

.scanned::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;

    background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(0, 255, 255, 0.3) 50%,
    transparent 100%
    );
    
    animation: scan 1s linear forwards;
}